<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>VroumVroum - Votre compte</title>

        <link rel="icon" href="../assets/logo.png">
        <link rel="stylesheet" href="../styles/generalStyle.css">
        
        <script src="../controllers/redirection/controllerHeader.js" defer></script>
    </head>

    <body>

    <main>

        <section id="toutForm">
            <h1>Connexion au site</h1>

            <form action="" method="post">
                <div class="field">
                    <label for="username">Nom d'utilisateur ou adresse mail</label>
                    <input type="text" name="username" id="username" required>
                </div>

                <div class="field">
                    <label for="pwd">Mot de passe</label>
                    <input type="password" name="pwd" id="pwd" required>
                </div>

                <button type="submit" id="validFormInscription">Se connecter</button>
            </form>
        </section>




    </main>

    </body>
</html>