<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Vroumvroum - choix voiture</title>

    <link rel="icon" href="../../assets/logo.png">
    <link rel="stylesheet" href="styles/generalStyle.css">
    <link rel="stylesheet" href="styles/canvasStyle.css">
    <link rel="stylesheet" href="styles/alertStyle.css">

    <script type="module" src="../controllers/redirection/controllerHeader.js" defer></script>
    <script type="module" src="../models/ChoiceKart.js"></script>
    <script type="module" src="../models/entities/Alert.js"></script>
    <script src="../controllers/redirection/controllerFooter.js" defer></script>
</head>

<body>
<main>
    <div id="vroumCoinContainer">
        <div id="vroumCoinDiv"></div>
    </div>
    <div id="divCanvas">
        <canvas id="canvasChoix">Votre navigateur ne supporte pas HTML5, veuillez le mettre à jour pour jouer.</canvas>
        <section id="buttonsContainer"></section>
        <section id="prixContainer" class="prix-container"></section>
    </div>
</main>
</body>
</html>

