<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Vroumvroum - Création de circuits</title>

    <link rel="icon" href="../../assets/logo.png">
    <link rel="stylesheet" href="styles/generalStyle.css">
    <link rel="stylesheet" href="styles/canvasStyle.css">
    <link rel="stylesheet" href="styles/circuitStyle.css">
    <link rel="stylesheet" href="styles/formStyle.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">


    <script src="../controllers/redirection/controllerHeader.js" defer></script>
    <script type="module" src="../controllers/creation/controllerAside.js" defer></script>
    <script type="module" src="../controllers/choice/controllerChoice.js" defer></script>
</head>

<body>
    <main class="circuit-main">

        <section id="choice-section">
            <h1 id="choice-title">Choix du circuit</h1>

            <section>
                <h2>Mes circuits</h2>

                <section id="circuits">
                </section>
            </section>

            <section id="page-selector">
                <i class="fa-solid fa-backward-step"></i>
                <i class="fa-solid fa-backward"></i>
                <p>texte</p>
                <i class="fa-solid fa-forward"></i>
                <i class="fa-solid fa-forward-step"></i>
            </section>

        </section>

        <aside>
            <section id="empty">
                <p>Cliquez sur un circuit pour afficher ses informations !</p>
            </section>
            <section id="full" class="invisible">
                <h2 id="circuit-name">Nom de la carte</h2>

                <div id="mark">
                    <p>Note : </p>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                </div>

                <p id="creator-name">Créateur : CreateurUsername</p>

                <p id="creator-score">Médaille auteur : createurScore</p>

                <div id="leaderboard">
                    <div id="leaderboard-title">Leaderboard</div>
                    <div id="leaderboard-players">
                        <p>Player1 : temp1</p>
                        <p>Player2 : temp2</p>
                        <p>Player3 : temp3</p>
                        <p>Player4 : temp4</p>
                        <p>Player5 : temp5</p>
                    </div>
                </div>

                <div>
                    <button id="playbutton">JOUER</button>
                </div>
            </section>
            
        </aside>
            
    </main>
</body>
</html>