<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Vroumvroum - Création de circuit</title>

    <link rel="icon" href="../../assets/logo.png">
    <link rel="stylesheet" href="styles/generalStyle.css">
    <link rel="stylesheet" href="styles/canvasStyle.css">
    <link rel="stylesheet" href="styles/circuitStyle.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">

    <script src="../controllers/redirection/controllerHeader.js" defer></script>
    <script src="../controllers/creation/tileChooser.js" defer></script>
    <script type="module" src="../models/creation.js" defer></script>
</head>

<body>
    <main id="create-main">

        <section id="poster">poster</section>

        <canvas id="canvas">Votre navigateur ne supporte pas HTML5, veuillez le mettre à jour pour jouer.</canvas>

        <section id="items">
            <div id="choosers">
                <section id="buttons-info">
                    <button id="b1" class="chooser">Tuiles</button>
                    <button id="b2" class="chooser">Départs / Arrivées</button>
                    <button id="b3" class="chooser">Checkpoints</button>
                </section>
    
                <section id="tile-selector">
                    
                </section>
            </div>
        </section>
            
    </main>
</body>
</html>