<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>VroumVroum - Accueil</title>

        <link rel="icon" href="../../assets/logo.png">
        <link rel="stylesheet" href="styles/generalStyle.css">
        <link rel="stylesheet" href="styles/alertStyle.css">

        <script type="module" src="../controllers/redirection/controllerHome.js" defer></script>
        <script type="module" src="../controllers/redirection/controllerHeader.js" defer></script>
        <script type="module" src="../models/entities/Alert.js"></script>
    </head>

    <body id="welcomeBody">

    <main id="welcome">
        <img src="../../assets/logoLong.png">

        <section id="welcomeButtons">
            <button type="submit" id="create" class="menuJeu">CREER UN CIRCUIT</button>
            <button type="submit" id="play" class="menuJeu">JOUER</button>
            <button type="submit" id="personalize" class="menuJeu">PERSONNALISER</button>
        </section>
    </main>

    </body>
</html>