<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>VroumVroum - Accueil</title>
        <link rel="icon" href="../../assets/logo.png">
        <link rel="stylesheet" href="styles/generalStyle.css">
        <script src="../controllers/redirection/controllerIndex.js" defer></script>
        <script src="templates/header.js" defer></script>
    </head>

    <body>

    <main id="welcome">
        <img src="../../assets/logoLong.png">

        <section>
            <button type="submit" id="create" class="menuJeu">CRÉER</button>
            <button type="submit" id="play">JOUER</button>
            <button type="submit" id="personalize" class="menuJeu">PERSONNALISER</button>
        </section>
    </main>

    </body>
</html>