<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Vroumvroum - gameplay</title>
    <link rel="icon" href="../../assets/logo.png">
    <link rel="stylesheet" href="styles/generalStyle.css">
    <link rel="stylesheet" href="styles/canvasStyle.css">
    <script src="templates/header.js" defer></script>
    <script type="module" src="../models/gameplay/gameplay.js"></script>
</head>
<body>
    <main>
        <canvas id="canvas">Votre navigateur ne supporte pas HTML5, veuillez le mettre à jour pour jouer.</canvas>
    </main>
</body>
</html>