<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>Jeu - VroumVroum</title>

        <link rel="icon" href="../../assets/logo.png">
        <link rel="stylesheet" href="styles/generalStyle.css">
        <link rel="stylesheet" href="styles/canvasStyle.css">
        <link rel="stylesheet" href="styles/circuitStyle.css">
        <link rel="stylesheet" href="styles/alertStyle.css">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
    </head>

    <body id="play-body">
        <main id="play-main">
            <canvas id="canvas">Votre navigateur ne supporte pas HTML5, veuillez le mettre à jour pour jouer.</canvas>
            <div>
                <aside id="time-infos">
                    <div class="chronometre leaderboard-title">Time</div>
                    <div class="compteurCheckpoint leaderboard-title">Checkpoint</div>
                    <div class="compteurTour leaderboard-title">Tour</div>
                </aside>

                <aside id='aside-infos'>
                    <h2 id="circuit-name">Nom de la carte</h2>
            
                    <p id="score">Score : Score</p>
                    <p id="creator-name">Créateur : CreateurUsername</p>
                    <p id="creator-score">Médaille auteur : createurScore</p>
            
                    <div id="leaderboard">
                        <div class="leaderboard-title">Leaderboard</div>
                        <div id="leaderboard-players">stuff is supposed to go here</div>
                    </div>
                </aside>
            </div>
        </main>

        <script type="module" src="../controllers/redirection/controllerHeader.js"></script>
        <script type="module" src="../models/gameplay/gameplay.js"></script>
        <script type="module" src="../models/entities/Alert.js"></script>
    </body>
</html>