<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Vroumvroum - gameplay</title>

    <link rel="icon" href="../../assets/logo.png">
    <link rel="stylesheet" href="styles/generalStyle.css">
    <link rel="stylesheet" href="styles/canvasStyle.css">
    <link rel="stylesheet" href="styles/circuitStyle.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">

    <script src="../controllers/redirection/controllerHeader.js" defer></script>
    <script type="module" src="../models/gameplay/gameplay.js"></script>
</head>

<body id="play-body">
<main id="play-main">
    <canvas id="canvas">Votre navigateur ne supporte pas HTML5, veuillez le mettre à jour pour jouer.</canvas>
    <section id="circuit-infos" >
        <div id="leaderboard-title" class="chronometre">Time</div>
        <div id="leaderboard-title" class="compteurCheckpoint">Checkpoint</div>
    </section>
    <section id="circuit-infos">
        <h2 id="circuitName">Nom de la carte</h2>

        <div id="mark">
            <p>Note : </p>
            <i class="fa-solid fa-star"></i>
            <i class="fa-regular fa-star"></i>
            <i class="fa-regular fa-star"></i>
            <i class="fa-regular fa-star"></i>
            <i class="fa-regular fa-star"></i>
        </div>

        <p id="creatorName">Créateur : CreateurUsername</p>

        <p id="creatorScore">Médaille auteur : createurScore</p>

        <div id="leaderboard">
            <div id="leaderboard-title">Leaderboard</div>
            <div id="leaderboard-players">
                <!--
                <p>Player1 : temp1</p>
                <p>Player2 : temp2</p>
                <p>Player3 : temp3</p>
                <p>Player4 : temp4</p>
                <p>Player5 : temp5</p>
                -->
            </div>
        </div>

    </section>
</main>
</body>
</html>