<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="img/logo.png">
    <link rel="stylesheet" href="css/style.css">
    <title>VroumVroum</title>
</head>
<body>


<header>
    <img id="logo-header" src="img/logoLong.png" alt="VroumVroum">

    <button type="submit" id="connexion">Connexion</button>
    <button type="submit" id="inscription">S'inscrire</button>

    <script src="templates/header.js" defer></script>
</header>

<main>
    <button type="submit" id="creer" class="menuJeu">CRÉER</button>
    <button type="submit" id="jouer">JOUER</button>
    <button type="submit" id="personnaliser" class="menuJeu">PERSONNALISER</button>
</main>

<footer> <script src="templates/footer.js" defer></script> </footer>

</body>
</html>