/* cette partie est utile sinon bordure blanche autour de la page */
body {
    margin: 0;
    padding: 0;
}

/* style de la page principale */
main {
    justify-content: space-between;
    align-items: center;
}

#welcome {
    display: grid;
    grid-template: auto / 1fr 4fr 1fr;

    justify-content: space-between;
    align-items: center;
    background: url("../assets/fondCircuit.jpg") no-repeat fixed top left;
    background-size: cover;
    height: 100%;

}

h1, h2, h3 {
    text-align: center;
}

h1 {
    font-size: 70px;
}

/*
    STYLE DES BOUTONS
 */
button {
    border: 10px solid blue;
    border-radius: 50px;
    font-size: 2em;
    font-weight: bold;
    padding: 0.4em 0.8em;
    color: blue;
}

button:hover {
    border-color: red;
    color: red;
}

.menuJeu {
    background: linear-gradient(90deg, #5DE0E6, #004AAD);
    border: none;
}

#jouer {
    background: linear-gradient(90deg, #CDFFD8, #94B9FF);
    border-width: 5px;
    grid-area: 2/2/3/3;
}

.menuJeu, #jouer {
    width: 10em;
    align-self: center;
    justify-self: center;
}