#canvas{
    border: 1px solid black;
    width: 100%;
}

body {
    background-color: #00be63;
    /* display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0; */
}

/*pour mettre une scrollbar sur le canvas*/
div {
    overflow-x: scroll;
    max-width: 80%;
    border: 1px solid black;
    border-radius: 10px;

    margin: 10% auto; /* Ajustez la valeur de la marge pour centrer verticalement */
    display: flex;
    align-items: center;
    justify-content: center;
}

/*
::-webkit-scrollbar {
    width: 7px;
    background: #8f9ea0;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    border: solid 0 transparent;
    background-color: #54585b;
    border-radius: 10px;
}*/

#buttonsContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 10px; /* Ajoutez un espacement entre le canvas et les boutons si nécessaire */
}

#buttonsContainer button {
    display: none;
    margin: 20px 42px;
}

#buttonCar{
    background:linear-gradient(145deg, #5de0e6, #004aad);
    font-size: 15px;
    border: none;
}