/* PARTIE GENERALE */

#main-circuit {
    display: grid;
    grid-template: auto / 5fr 1fr;
}

#mark p {
    display: inline;
}

#mark {
    display: inline;
    margin-bottom: 2em;
}

#stars {
    display: flex;
    align-self: center;
}

#circuit-infos {
    padding: 30px;
    margin: 15px;
}

/* ZONE DU CIRCUIT */

canvas {
    border: 1px solid black;
    overflow-x: scroll;
}

canvas:not(.tile-canvas) {
    display: flex;
    width: 100%;
}

#tiles-to-select {
    display: flex;
    flex-wrap: wrap;
}




#play-main {
    display: grid;
    grid-template: auto / 3fr 1fr;
}

#play-main section {
    max-width: 28em;
}

/* LEADERBOARD */

#leaderboard-title {
    font-family: 'PlayPretend', Arial, Helvetica, sans-serif;
    font-size: 45px;
    text-align: center;
}

i {
    color: rgb(190, 168, 0);
}

.leaderboard-time {
    display: inline;
}

/* SELECTEUR DE TUILES */

.tile-selector {
    padding: 30px;
    margin: 15px;

    display: flex;
    border-radius: 45px;
    margin: 5px 0px 30px 0px;
    padding: 20px;
    width: 70em;
    text-align: left;

    overflow-x: scroll;
    column-gap: 3em;

}

.tile-selector, #circuit-infos, #choosers button {
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.07);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid black;
}

.tile-selector div {
    height: 162px;
    width: 165px;
}

.tile-selector div.selected {
    border: 3px solid red;
}

#create-main {
    display: grid;
    grid-template: auto / 1fr;
}

body {
    background: url("../../../assets/circuitFond1.jpg") no-repeat fixed top left;
    background-position: center bottom;
    background-size: cover;
    background-color: none;
}

#items {
    display: grid;
    grid-template: auto / 1fr 4fr 1fr;
}

#choosers {
    grid-area : 2 / 3 / 1 / 2;
    
}

#choosers button {
    margin: 0px;
    transition: color 0.3s ease 0s;
}

#choosers button:hover {
    color: white;
}

#choosers button.selected {
    border-color: #00be63;
}

.invisible {
    display: none;
}

/* CIRCUIT DIVS */

#circuit {
    display: grid;
    grid-template : 80px / 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    margin: auto;
}

#circuit div {
    width: 80px;    /* ben oui, sinon ça veut pas */
    height: 80px;
}

