/* PARTIE GENERALE */

#main-circuit {
    display: grid;
    grid-template: auto / 6fr 1fr;
}

#mark p {
    display: inline;
}

#mark {
    display: inline;
    margin-bottom: 2em;
}

#stars {
    display: flex;
    align-self: center;
}

/* LEADERBOARD */

#leaderboard {
    border: 2px solid red;
    border-radius: 45px;
    padding: 30px;
}

#leaderboard-title {
    font-family: 'PlayPretend', Arial, Helvetica, sans-serif;
    font-size: 45px;
    text-align: center;
}

i {
    color: rgb(190, 168, 0);
}

.leaderboard-time {
    display: inline;
}




/* ZONE DU CIRCUIT */

canvas {
    display: flex;
    width: 100%;
    border: 1px solid black;
}

.chooser {
    display: flex;
    text-align: center;

}

#items {
    display: grid;
    grid-template: auto / 1fr 4fr 1fr;
}

#choosers {
    grid-area : 2 / 3 / 1 / 2;
    max-width: 70em;
    margin: 10px 5em;
}

#choosers button {
    border-radius: 50% 50% 0 0;
}

#play-main {
    display: grid;
    grid-template: auto / 3fr 1fr;
}

#play-main section {
    max-width: 28em;
}

