/* for specific font-styles */
@font-face {
    font-family: 'PlayPretend';
    src: url('fonts/PlayPretend.otf') format('opentype');
}

@font-face {
    font-family: 'OctoSquares';
    src: url('fonts/OctoSquares.ttf');
}


/* the main body sticks to the window's frame */
body {
    margin: 0;
    padding: 0;
    font-family: 'OctoSquares', Arial, Helvetica, sans-serif;
    background-color: rgb(71, 223, 215);
}

/* main page style */
main {
    justify-content: space-between;
    align-items: center;

}

#welcomeBody {
    background: url("../../../assets/fondCircuit.png") no-repeat fixed top left;
    background-position: center bottom;
    background-size: cover;
    background-color: none;
}

#welcome {
    display: grid;
    grid-template: auto / 1fr 4fr 1fr;

    justify-content: space-between;
    align-items: center;
}

#welcomeButtons {
    display: grid;
    grid-template: auto / 1fr;
    align-items: center;
    max-width: 60em;

    grid-area: 2 / 2 / 3 / 3;
    margin: auto;
}

#welcome img {
    display: grid;
    grid-area: 1 / 1 / 2 / 4;
    margin: 100px auto;

    scale: 1.8;
    transition: scale 0.2s ease 0s;
}

#welcome img:hover {
    scale: 2;
}


h1, h2, h3 {
    text-align: center;
}

h1 {
    font-family: 'PlayPretend', Arial, Helvetica, sans-serif, serif;
    font-size: 70px;
}

/*
    STYLE DES BOUTONS
 */

button {
    font-family: 'OctoSquares', Arial, Helvetica, sans-serif, serif;

    margin: 10px;
    padding: 20px 45px;

    font-size: 25px;
    font-weight: bold;
    letter-spacing: 2px;

    color: black;
    background-color: #fff;

    border: none;
    border-radius: 50px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);

    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;

}

button:hover {
    background-color: black;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: white;
    transform: translateY(-7px);
}

button:active {
    transform: translateY(-1px);
}

.menuJeu {
    background: linear-gradient(90deg, #5DE0E6, #004AAD);
    border: none;
}

.menuJeu, #jouer {
    width: 16em;
    align-self: center;
    justify-self: center;
    margin: 1em;
}

a, a:visited {
    text-decoration: none;
    color: blue;
    transition: color 0.2s ease 0s;
}

a:hover {
    color: rgb(213, 59, 233);
}
