/* cette partie est utile et définit le header pour toutes les pages, et le footer */
header {
    text-align: center;
    display: flex;
    background: linear-gradient(90deg, #8C52FF, #00BF63);
    flex: 1;
    align-items: center;

    justify-content: space-around;
}

header img {
    display: flex;
    justify-content: left;
    width: 50%;
}

#registrate{
    grid-area: 1/3/2/4;
}

#connection {
    grid-area: 1/4/2/5;
}

#connection, #registrate {
    background-color: #919191;
    border: none;
}

header button {
    margin: 1em;
}